
@import '../../styles/colors.scss';

.login {
  display: flex;
  align-items: center;
}

.login-logo {
  width: 80px;
}

.login-text {
  font-size: 22px;
  font-weight: 500;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.login-picture {
  flex: 1 1 50%;
  object-fit: cover;
  overflow: hidden;
  max-width: 50vw;
  height: 100vh;
}

.login-form {
  flex: 1 1 50%;
  max-width: 500px;
  padding: 0 4em;
}

.login-field {
  input, label {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
  }

  input {
    font-weight: 400 !important;
  }

  input:focus {
    border-color: $black !important;
  }

  label {
    margin-bottom: 1em !important;
  }
}

.login-button {
  margin-top: 4em !important;
  background-color: $black !important;
  color: white !important;
  border-radius: 8px !important;
  height: 50px;
  width: 140px !important;
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.login-button:hover {
  opacity: 0.8;
}

.go-home {
  display: block;
  margin-top: 1em;
}

.login-alert {
  margin-top: 2em;
  margin-bottom: 4em;
  margin-left: -40px;
  margin-right: 40px;
  padding: 0.5em 1em;
  color: white;
  background-color: $red;
  opacity: 0;
  border-radius: 8px;
  transition: all 0.35s ease-in-out;
  
  .alert-title {
    margin: 0.25em;
    font-size: 16px;
    font-weight: 500;
  }

  .alert-text {
    margin: 0.25em;
    font-weight: 400;
  }
}

.alert-showing {
  opacity: 0.8;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 768px) { 
  .login {
    margin-top: 6em;
  }
  .login-picture {
    display: none;
  }
  .login-form {
    margin: 0 auto;
  }
}