
@import '../../styles/colors.scss';

.error {
  text-align: center;
  padding: 6em 3em 0 3em;
}

.error-animation {
  max-width: 500px;
  margin: auto;
}

.error-title {
  font-weight: 500;
}

.error-text {
  color: $gray;
}